################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/AdminSolution/.vs/AdminSolution/v16/Server/sqlite3/db.lock
